
.rbc-header{
  color:#B1B1B1;
    padding: 10px;
    border: none !important;
}
.rbc-timeslot-group{
    color:#B1B1B1;
    border: none !important;
    min-height: 100px !important;

}
.rbc-time-view{
    border: none !important;
}
.rbc-allday-cell{
    display: none !important;
}
.rbc-events-container{
  
    border: none !important;
}
.rbc-event-label {
    display: none !important;
  }
  
  .rbc-event {
    padding: 0px !important;
    border-radius: 10px !important;
    border: none !important;
    background-color: transparent !important;
  }
  
  .rbc-background-event {
    padding: 0px !important;
    border-radius: 10px !important;
    border: none !important;
    background-color: transparent !important;
  }
  
.rbc-time-slot {
    color: #B1B1B1;
    border-color:#DCDCDC !important;
  }

.rbc-today {
  background: #f6faff !important;
}
.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#5161ce 0,#5161ce 100%) !important; /* override background image gradient w/ flat color */
}

.rbc-toolbar-label{
  font-size: 16px;
  font-weight: 700;
  color: gray
}
.rbc-btn-group{
  color: gray
}
[role=columnheader]{
  font-size: 20px;
}

[type="time"]{
  color:#5161ce;
  border: none !important;
}
[type="time"]::-webkit-inner-spin-button {
  display: none;
  border: none !important;
  
}
[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  border: none !important;
}